################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/env/Lib
/env/Scripts
/main_hub/env/Lib
/main_hub/env/Scripts
/main_hub/__pycache__
/sattelite/sattelite/sattelite_bck.ino
